.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.Items {
  width: 60%;
  margin: 0 auto 20 auto;
}

.All {
  margin: 0 auto;
}
